torch
transformers
sentence-transformers
faiss-cpu

numpy
docling
docling-core
docling-ibm-models
pymupdf4llm
PyMuPDF
pypdf
pypdfium2
rank-bm25
Pillow
pydantic
typing_extensions
sentencepiece